.visiting-card{
    background:hsl(137deg 99% 58% / 95%);
    padding:10px;
    font-family: "poppins", sans-serif;
}
p{
    margin:4px;
}
.company-name {
    text-align: right;
    font-family: "pacifico", cursive;
    font-size: 24px;
    font-weight: bold;
}